/* Reset and Font Styling */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
.card {padding: 15px;}
section {
  padding-top: 20px;
}
.faq-item {
  padding: 10px;
}
.container {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
}

/* Header Styling */
.header {
    background-color: #f1f7ed;
    text-align: center;
    padding: 2rem 0;
}
.homepage-image {
  
  text-align: center;
  padding: 2rem 0;
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 150px;
}
.padding-small {
  padding: 10px;
}
.logo-footer {

  max-width: 100px;
}

.github-logo {
  padding-top: 10px;
  max-width: 50px;
  padding-bottom: 10px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #354a32;
}

.subtitle {
    font-size: 1.2rem;
    color: #556b50;
    margin-top: 0.5rem;
}

/* Main Content Styling */
.content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

.overview, .features, .documentation {
    margin-bottom: 2rem;
}

.overview h2, .features h2, .documentation h2 {
    color: #354a32;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* Features List */
.feature-list {
    list-style: disc;
    padding-left: 1.5rem;
    color: #354a32;
}

/* Documentation Button */

.btn:hover {
  border:1px solid #2b3c29;
  background-color: #ffffff;
  color:#000000;
}
.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #354a32;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
}


/* Footer Styling */
.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f1f7ed;
    color: #556b50;
    font-size: 0.9rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq {
    line-height: 2rem;
}
.faq h4 {
    padding-top: 5px;
}